body{
    margin-top: 0;
    margin-left:0 ;
    width: 100vw;
    height: 100vh;
    background-color: #061e2a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* START PAGE CSS BELOW============================ */
#startPage{
    width: 350px;
    height: 400px;
    color: white;
    display: flex;
    flex-wrap:wrap;
    position: absolute;

    margin: auto auto auto auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    justify-content: center;
    text-align: center;
}
/* NEW GAME BUTTON DIV BELOW */
.newGameBtn{
    line-height: 60px;
    height: 60px;
    width: 100%;
    border-radius:1ch;    
    font-size:1.5ch;
    font-weight: bold;
}
#pvpGameBtn{
    background-color: cyan;
    color: #061e2a;
}
#pvpGameBtn:hover{
    background-color: rgb(0, 209, 209);
    color:white;
}
#aiGameBtn{
    background-color:rgb(250, 191, 80);
    color: #061e2a;
}
#aiGameBtn:hover{
    background-color: rgb(180, 142, 72);
    color:white;
}
/* NEW GAME BUTTON DIV ABOVE */
/*SELECTP1MARKER DIV BELOW */
#selectP1Marker{
    background-color: #0c384e;
    width: 100%;
    border-radius: 10px;
    height: 150px;
}
#toggleMarker{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
#toggleMarker > div{
    background-color:#061e2a;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.toggleOption{
    width: 46%;
    border-radius: 10px;
    height: 40px;
    border:solid 6px;
    border-color: #061e2a;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center; 
}
.xUnselected{ background-image: url(./images/xMarkerGrey.svg);}
.oUnselected{ background-image: url(./images/oMarkerGrey.svg);}
#oToggleOption:hover, .oSelected{
    background-color: lightgrey;
    background-image: url(./images/oMarkerNavy.svg);
}
#xToggleOption:hover, .xSelected{
    background-color: lightgrey;
    background-image: url(./images/xMarkerNavy.svg);
}
/* SELECTP1MARKER DIV ABOVE */

/* START PAGE CSS ABOVE============================ */


/* PLAYER NAME FORM BELOW ================================ */
#playerNamesFormPage{
    width: 350px;
    height: 400px;
    color: white;
    display: flex;
    flex-wrap:wrap;
    position: absolute;


    margin: auto auto auto auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    justify-content: center;
    text-align: center;
}
form{
    width: 350px;
    font-size: large;
    font-weight: bold;
    line-height: 2;
}
input{
    width: 70%;
    height: 30px;
    border-radius: 10px;
}
#returnFromPlayerNames{
    width: 70%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(149, 253, 253);
    font-weight: bolder;   
}
#returnFromPlayerNames:hover{
    background-color: rgb(111, 199, 199);

}
#submitPlayerNames{
    width: 70%;
    height: 50px;
    margin-top: -20px;
    background-color:rgb(250, 191, 80);
    border-radius: 10px;
    font-weight: bolder;   
}
#submitPlayerNames:hover{ background-color:rgb(169, 133, 67);}
/* PLAYER NAME FORM ABOVE ================================ */
/* GAMEBOARD PAGE BELOW ================================ */

#container{
    width: 490px;
    height: 590px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;

    margin: auto auto auto auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    align-items: center;
    text-align: center;

}

.boardDiv{
    height: 150px;
    width: 150px;
    background-color: rgb(72, 95, 131);
    color: rgb(72, 95, 131);
    margin:6px ;
    border-radius: 8%;
    background-repeat: no-repeat;
    background-size:80%;
    background-position: center;
}

#topGameboardDiv, #bottomGameboardDiv{
    height: 50px;
    width: 490px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#logoAtBoard{
    background-position: 0px, 40px, 80px, 120px;
    width: 160px;
    height: 40px;
  }

  #turnSignDiv{
    width: 150px;
    height: 50px;
    margin-left: -100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    color:lightgrey;
    margin-top: -15px;

  }

  #turnSignMarker{
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  .xTurn{ background-image: url(./images/xMarkerGrey.svg);}
  .oTurn{ background-image: url(./images/oMarkerGrey.svg);}
  .xTurn, .oTurn {
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
  }

#restartBtn{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-image: url(./images/restart.svg);
    background-color: lightgrey;
    background-repeat:no-repeat;
    background-size:70%;
    background-position: center;
    margin-right: 10px;


}



#bottomGameboardDiv{
    margin-top: 10px;
}
#playerOneWinsDiv{
    margin-left: 10px;
}

.bottomDiv{
    width: 140px;
    height: 50px;
    border-radius: 5px;
    font-size: small;
}
.bottomDiv > p{
    margin-bottom: 1px;
    margin-top: 4px;
}
#p1ScoreNum, #p2ScoreNum, #scoreTiesNum{
    font-size: large;
    font-weight: bolder;
}

#tiesDiv{
    background-color:lightgrey;
}

#playerTwoWinsDiv{
    margin-right: 10px;
}

.scorePlayerX{
    background-color: cyan;
}
.scorePlayerO{
    background-color: rgb(250, 191, 80);

}

/* MarkerHoverBoard CSS BELOW*/
.xMarkerOnBoard{ background-image: url(./images/xMarkerCyan.svg); }
.oMarkerOnBoard{ background-image: url(./images/oMarkerOrange.svg); }
.xMarkerEmptyOnBoard{
    background-image: url(./images/xMarkerEmpty.svg);
    background-color: rgb(69, 78, 97);
}
.oMarkerEmptyOnBoard{
    background-image: url(./images/oMarkerEmpty.svg);
    background-color: rgb(69, 78, 97);
}
.oWinnerMarkerOnBoard{
    background-image: url(./images/oMarkerLightNavy.svg);
    background-color:rgb(250, 191, 80) ;
}
.xWinnerMarkerOnBoard{
    background-image: url(./images/xMarkerLightNavy.svg);
    background-color: cyan;
}
.oWinnerMarkerOnBoard, .xWinnerMarkerOnBoard{
    transition-duration: 1s;
    transition-property: background-color;
    transition-property: background-image;
    transition-property: revert;
}

/* <!-- RESULTS SCREENS BELOW ================================  --> */

#winBackground{ 
    background-color: #061e2a;
    opacity: 50%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 90;
    top: 50%;
    margin: -50vh 0 0 0;
}
#winBanner{
    background-color: rgb(69, 78, 97);
    width: 100vw;
    height: 220px;
    position: absolute;
    z-index: 100;
    top: 50%;
    margin: -110px 0 0 0;
    
    justify-content: center;
    text-align: center;

}

#winBannerFirstText{
    color:white;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#winBannerQuitBtn{
    height: 45px;
    width: 100px;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: aliceblue;
}
.oWinBannerQuitBtn{ background-color:rgb(250, 191, 80) ;}
.xWinBannerQuitBtn{ background-color: cyan;}
#winBannerNextRoundBtn{
    height: 45px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
}


#winBannerMiddleDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
#winBannerBigMainText{
    font-weight: 900;
    font-size:  50px;
    line-height: 0px;
}
#winBannerBigMarker{
    width: 100px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
    margin-right: 20px;
}
.oWinBigMarker{ background-image: url(./images/oMarkerEmpty.svg);}
.xWinBigMarker{ background-image: url(./images/xMarkerEmpty.svg);}
/* <!-- RESULTS SCREENS ABOVE ================================  --> */
/* GAMEBOARD PAGE ABOVE ================================*/

/* CSS LOGO BELOW ============================ */
.gameLogo{
    display: flex;
    flex-wrap: wrap;
    background-image: url(./images/xMarkerCyan.svg), url(./images/oMarkerOrange.svg),url(./images/xMarkerEmpty.svg),url(./images/oMarkerEmpty.svg);
    background-repeat: no-repeat;
    background-position: 0px, 50px, 100px, 150px;
    width: 200px;
    height: 50px;
}
/* CSS FOR LOGO ABOVE ============================ */

/* VISIBLE & INVISIBLE TOGGLE CLASSES */
  .visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear .7s, opacity .7s;
    transition-delay: .6s;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .7s, opacity .7s;
  }